.table-title-edit{
    background-color:#66CDAA;
    color:black;
    text-align: center;
    font-size:14px;
}

.center-text-column{
    text-align: center;
    font-size: 14px;
}

.boton-editar{
    border-color: #0080ff;
    color: black;
    border-width: 1.5px;
}

.boton-eliminar{
    border-color: #e30d48;
    color: #000000;
    border-width: 1.5px;
}


.boton-editar:hover{
    border-color: #0078f0;
    background-color: #aed7ff;
    color: #000000;
    border-width: 1.5px;
}

.boton-eliminar{
    border-color: #e30d48;
    color: #000000;
    border-width: 1.5px;
}

.boton-eliminar:hover{
    border-color: #c20c3e;
    background-color: #fbbbcd;
    color: #000000;
    border-width: 1.5px;
}

.boton-deshabilitar{
    border-color: #f4dc00;
    color: #000000;
    border-width: 1.5px;
}

.boton-deshabilitar:hover{
    border-color: #ddc800;
    background-color: #fff7ae;
    color: #000000;
    border-width: 1.5px;
}

.table-button-center{
    text-align: center;
}

.container-text {

    height: 200px;
}

.textarea-description {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
}

.weekDays-selector input {
    display: none!important;
  }
  
  .weekDays-selector input[type=checkbox] + label {
    display: inline-block;
    border-radius: 6px;
    background: #dddddd;
    height: 40px;
    width: 30px;
    margin-right: 3px;
    line-height: 40px;
    text-align: center;
    cursor: pointer;
  }
  
  .weekDays-selector input[type=checkbox]:checked + label {
    background: rgb(15, 203, 228);
    color: #ffffff;
  }
